### Comments in python
- Single line comment
- Multi line comment

In [2]:
# single line comment
"""
Multi
line
comment
"""
print('Good Afternoon all')

Good Afternoon all

## Python Basics

In [3]:
# print a message
print('python programming')

python programming

In [4]:
print('This keerthi\'s pen')

This keerthi's pen

In [5]:
print("This keerthi's pen")

This keerthi's pen

In [8]:
print('c:docs\navin')
print('c:docs\\navin')

c:docs
avin
c:docs\navin

In [7]:
print(r'c:docs\navin')

c:docs\navin

In [12]:
myname = 'keerthi'
print(5 * myname )

keerthikeerthikeerthikeerthikeerthi

In [11]:
print(5*' keerthi')

 keerthi keerthi keerthi keerthi keerthi

In [14]:
print('keerthi\nkeerthi\nkeerthi')

keerthi
keerthi
keerthi

In [15]:
print('Rohit\n'*5)

Rohit
Rohit
Rohit
Rohit
Rohit

### Variables
- A python variable is a reserved memory location to store values.

In [16]:
a = 123 # single variable assignment
print(a)

123

In [17]:
a = 'apssdc'
print(a)

apssdc

In [25]:
x,y,z = 12,10,9 # multiple variable assignment with multiple values
print(x,y,z)
print(x,'\n',y,'\n',z)

12 10 9
12
 10
 9

In [ ]:
m = 134
q=w=e=m # multiple variable assignment
print(w)

### Data Types and Conversions
- int
- float
- string

In [26]:
n1 = 13
type(n1)

int

In [27]:
n1 = 13.8
type(n1)

float

In [28]:
n1 = 'apssdc'
type(n1)

str

In [29]:
n1 = 13.8
print(int(n1))

13

In [30]:
n1 = 13
print(float(n1))

13.0

In [32]:
n1 = 13
n2 = 13.8
n3 = 'karthik'
print(type(n3))
print(type(n2))
print(type(n1))

<class 'str'>
<class 'float'>
<class 'int'>

In [33]:
n1=13
s = str(n1)
print(type(s))

<class 'str'>

### Indentation

In [36]:
n1 = 13
n2 = 12
if n1> n2:
    print('n1 is greater than n2')

n1 is greater than n2

### Reading input dynamically

In [40]:
x = input()
print('Given input is:',x)
print(type(x))

python
Given input is: python
<class 'str'>

In [41]:
x = input()
print('Given input is:',x)
print(type(x))

123
Given input is: 123
<class 'str'>

In [43]:
n1 = input()
n2 = input()
print('Addition is:',n1+n2)

12
13
Addition is: 1213

In [44]:
n1 = int(input())
n2 = int(input())
print('Addition is:',n1+n2)

12
13
Addition is: 25

In [45]:
n1 = int(input())
print('Given input is:')

apssdc

ValueError: invalid literal for int() with base 10: 'apssdc'

### Operators
1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators
7. Bitwise Operators

1. Arithmetic Operators

In [47]:
a,b = 5,3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b) # Floor Division
print(a**b) # Exponentiation

8
2
15
1.6666666666666667
2
1
125

2. Assignment Operator

In [49]:
a = 12
print(a)

12

In [52]:
a+=5 # a=a+5
print(a)

27

In [53]:
b = 5
b -= 3 # b=b-3
print(b)

2

3. Comparison Operators

In [55]:
n1,n2 = 5,3
print(n1==n2)
print(n1!=n2)
print(n1>n2)
print(n1<n2)
print(n1>=n2)
print(n1<=n2)

False
True
True
False
True
False

4. Logical Operators

        and,or,not

In [57]:
a = 5
print(a<6 and a>2)
print(a>6 and a>2)

True
False

In [66]:
print(a<6 or a>2)
print(a>6 or a>2)

True
True

In [62]:
(a<6 or a>2)

True

In [63]:
not(a<6 or a>2)

False

5. Identity Operators

       is, is not

In [67]:
x,y = 5,3
print(x is y)

False

In [68]:
x,y = 5,5
print(x is y)

True

In [69]:
x,y = 5,3
print(x is not y)

True

6. Membership Operators

        in, not in

In [70]:
x = ['apple','banana','grapes']
print('apple' in x)

True

In [71]:
print('papaya' not in x)

True

In [72]:
print('papaya' in x)

False

7. Bitwise Operators

        &, |, ^, >>, <<, ~

In [73]:
5 & 3

1

In [74]:
5 | 3

7

In [75]:
5^3

6

In [76]:
~5

-6

In [77]:
5 >> 3

0

In [78]:
5<<3

40

In [81]:
a = 'true12'
print(type(a))

<class 'str'>

In [87]:
c1 = 3
c1 += 7 # c1 = c1 + 7
c2 = 2
c2 -= 3
c3 = 4
c3 /= 5
c4 = 2
c4 *= 4
print(c1)
print(c2)
print(c4)
print(c3)
print(c1,c2,c3,c4)

10
-1
8
0.8
10 -1 0.8 8